<nav class="navbar navbar-expand-lg bg-light bg-body-tertiary border-bottom border-secondary fixed-top">
    <div class="container ">
        <a class="navbar-brand px-5 me-4 " routerLink="/home"><i class="fa-solid fa-registered "
                style="font-size: 25px;"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="text-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 ">
                    <li class="nav-item ms-5 ps-5">
                        <figure class="text-center mt-3">
                            <blockquote class="blockquote">
                                <h4>Welcome to the todo app, have a nice day ... 🏝🏝</h4>
                            </blockquote>

                        </figure>
                    </li>

                </ul>
            </div>
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item dropdown" *ngIf="email">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{email}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf="!email">
                    <div class="d-flex ">
                        <a class="nav-link text-dark" href="/login">Login</a>
                        <div class="flex-grow-2 mt-2">|</div> <!-- Flexible empty space -->
                        <a class="nav-link text-dark" href="/register">Register</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>