<div class="card mt-3" *ngIf="selectedTodo">
    <div class="card-body">
        <form (ngSubmit)="updateTodo()" #todoForm="ngForm">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                    [(ngModel)]="selectedTodo.title" required>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Description:</label>
                <textarea type="text" class="form-control" id="description" name="description" placeholder="Description"
                    [(ngModel)]="selectedTodo.description" required></textarea>
            </div>
            <div class="mb-3">
                <label for="dueDate" class="form-label">Due date:</label>
                <input id="dueDate" class="form-control" type="date" placeholder="Due Date" name="dueDate"
                    [ngModel]="selectedTodo.dueDate | date:'yyyy-MM-dd'"
                    (ngModelChange)="selectedTodo.dueDate=$event" />
            </div>
            <!-- Add other form controls for other todo details -->
            <button type="submit" class="btn btn-warning" [disabled]="!todoForm.valid">Save changes</button>
        </form>
    </div>
</div>