<div class="d-flex flex-column justify-content-center container container-border shadow p-3 mb-5 bg-body rounded-4">
    <div class="mx-auto text-center">
        <h2 class="fw-bold">Sign in to your account</h2>
    </div>

    <div class="mt-1 p-3">
        <form class="px-2  " (ngSubmit)="login()">
            <div class="mt-4 pt-2 ">
                <label for="email" class="form-label">Email address</label>
                <div class="input-group has-validation">
                    <span class="input-group-text " id="basic-addon1"><i class="fa-regular fa-envelope px-1"></i></span>
                    <input id="email" name="email" type="email" required [(ngModel)]="email" #emailInput="ngModel"
                        class="form-control p-2 text-dark" style="line-height: 28px;"
                        [class.is-invalid]="email.length > 0 && !isValidEmail()">
                    <div *ngIf="email.length > 0 && !isValidEmail()" class="invalid-feedback">
                        Please enter your email.
                    </div>
                </div>
            </div>
            <div class="mt-4 pt-2">
                <div class="d-flex justify-content-between">
                    <label for="password" class="form-label">Password</label>
                    <div class="text-sm">
                        <a href="#" class="">Forgot password?</a>
                    </div>
                </div>
                <div class="input-group has-validation">
                    <span class="input-group-text " id="basic-addon1"><i class="fa-solid fa-lock px-1"></i></span>
                    <input id="password" name="password" [type]="passwordFieldType" required [(ngModel)]="password"
                        #passwordInput="ngModel" class="form-control p-2 text-dark"
                        [class.is-invalid]="password.length > 0 && !isValidPassword() " style="line-height: 28px;">
                    <button class="btn btn-outline-secondary border border-1" type="button"
                        (click)="togglePasswordVisibility()">
                        <i [ngClass]="passwordFieldType === 'password' ? 'fas fa-eye-slash':'fas fa-eye ' "></i>
                    </button>
                    <div *ngIf="password.length > 0 && !isValidPassword()" class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
            </div>

            <div class="mt-4 pt-3 ">
                <button type="submit " [disabled]="!isValidEmail() || !isValidPassword()"
                    class="btn btn-primary w-100 p-2 " style="line-height: 28px;">Sign
                    in</button>
            </div>
        </form>

        <p class="mt-5 text-center ">Not a member? <a routerLink="/register">Register now</a>
        </p>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            <span class="fw-nomal">{{errorMessage}}</span>
        </div>
    </div>
</div>