<div class="mt-2">
    <div class="">
        <div class="row ">
            <div class="col-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="defaultCheck1"
                        [(ngModel)]="todo.completed" (change)="updateTodoStatus()">
                </div>
            </div>
            <div class="col-7">
                <p class="card-text" [ngClass]="{ 'completed-text': todo.completed }">{{ todo.title }} </p>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <i class="bi bi-pencil btn" (click)="onTodoClick(todo.id)"></i>
                <i class="bi bi-trash3 btn text-danger" (click)="onDeleteClick()"></i>
            </div>
        </div>
    </div>
</div>