<div class="mt-2 ">
    <div class="">
        <div class="row ">
            <div class="col-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="defaultCheck1"
                        [(ngModel)]="todo.completed" (change)="updateTodoStatus()">
                </div>
            </div>
            <div class="col-7">
                <p class="card-text" [ngClass]="{ 'completed-text': todo.completed }">{{ todo.title }} </p>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <i class="fa-regular fa-pen-to-square btn border-0" (click)="onTodoClick()"> </i>
                <i class="fa-solid fa-trash btn border-0 " (click)="onDeleteClick()"></i>
            </div>
        </div>
    </div>
</div>